<div class="container">
<div class="intro-text">
<img class="formback"src="/img/forms.png" class="img-responsive" alt="Myklovr">
<class="col-lg-8">
                    <form class="form-horizontal">
                                <form class="form-horizontal">
                                    <div class="signup">
                                        <div class="insert">  
                                      <form action="/insertschool" method="post"> 
                                      <div class="input">
                                      <div class="form-group">                                     
                                      <label class="control-label col-sm-2" for="name">Name:</label>
                                      <div class="col-sm-10">
                                        <input type="name" class="form-control" id="name" placeholder="Enter your Full Name">
                                      </div>
                                      </div>
                                        <div class="form-group">
                                        <label class="control-label col-sm-2" for="email">Email:</label>
                                        <div class="col-sm-10">
                                        <input type="email" class="form-control" id="email" placeholder="Enter your email">
                                      </div>

                                      </div>
                                      <div class="form-group">                                        
                                      <label class="control-label col-sm-2" for="schooltitle">School Title:</label>
                                      <div class="col-sm-10">
                                        <input type="schooltitle" class="form-control" id="schooltitle" placeholder="Enter School Title">
                                      </div>
                                      </div>
                                      <div class="form-group">                                        
                                      <label class="control-label col-sm-2" for="schoolname">School/University Name:</label>
                                      <div class="col-sm-10">
                                        <input type="schoolname" class="form-control" id="schoolname" placeholder="Enter your School/University Name">
                                      </div>
                                      </div>
                                      
                                    <div class="col-lg-12 text-center">
                                    <button type="submit" class="page-scroll btn btn-xl">Submit</button>
                                </div>
                        </form>
                </div>



              {{!--   <form class="form-horizontal">
                            <div class="insert">
                            <h3>Or</h3>
                            <form action="/insert" method="post">
                            <div class="input">
                            <label class="control-label col-sm-3" for="firstname"><h5>First Name:</h5></label>
                            <div class="col-sm-8">
                            <input type="text" class="form-control" id="firstname" name="firstname"></div><br>
                           
                            <label class="control-label col-sm-3" for="lastname"><h5>Last Name:</h5></label>
                            <div class="col-sm-8">
                            <input type="text" class="form-control" id="lastname" name="lastname"></div><br>
                         
                            <label class="control-label col-sm-3" for="email"><h5>Email:</h5></label>
                            <div class="col-sm-8">
                            <input type="text" class="form-control" id="email" name="email"></div>
                            </div>
                            <button type="submit" class="page-scroll btn btn-xl">Get free access</button><br>
                            </form> --}}


    {{!-- <section class="get">
    <h3>Get Data</h3>
    <a href="/get-data">LOAD DATA</a>
    <div>
        {{# each items }}
            <article class="item">
                <div>Name: {{ this.name }}</div>
                <div>Email: {{ this.email }}</div>
                <div>Title: {{ this.title }}</div>
                <div>School: {{ this.school }}</div>
                <div>ID: {{ this._id }}</div>
            </article>
        {{/each}}
    </div>
</section> --}}

{{!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Twitter Bootstrap Modal Contact Form Demo</title>
  <meta name="description" content="Creating Modal Window with Twitter Bootstrap">

  <link href="css/bootstrap.min.css" rel="stylesheet">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
      $("input#submit").click(function(){
        $.ajax({
          type: "POST",
          url: "process.php", // 
          data: $('form.contact').serialize(),
          success: function(msg){
            $("#thanks").html(msg)
            $("#form-content").modal('hide'); 
          },
          error: function(){
            alert("failure");
          }
        });
      });
    });
    </script>

  <style type="text/css">
    body { margin: 50px; background: url(assets/bglight.png); }
    .well { background: #fff; text-align: center; }
    .modal { text-align: left; }
  </style>

</head>
<body>

<div class="container">
  <div class="well well-large">
    <h2>Twitter Bootstrap Modal Contact Form Demo</h2>
    <div id="form-content" class="modal hide fade in" style="display: none;">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Send me a message</h3>
      </div>
      <div class="modal-body">
        <form class="contact" name="contact">
          <label class="label" for="name">Your Name</label><br>
          <input type="text" name="name" class="input-xlarge"><br>
          <label class="label" for="email">Your E-mail</label><br>
          <input type="email" name="email" class="input-xlarge"><br>
          <label class="label" for="message">Enter a Message</label><br>
          <textarea name="message" class="input-xlarge"></textarea>
        </form>
      </div>
      <div class="modal-footer">
        <input class="btn btn-success" type="submit" value="Send!" id="submit">
        <a href="#" class="btn" data-dismiss="modal">Nah.</a>
      </div>
    </div>
    <div id="thanks"><p><a data-toggle="modal" href="#form-content" class="btn btn-primary btn-large">Modal powers, activate!</a></p></div>
  </div>
</div>

</body> --}}